version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: compilr-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
